@media screen and (min-width: 15em) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    color: $--color-v1;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  #root {
    min-height: 100vh;
  }

  body {
    background-color: $home-background;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    color: $--color-v1;
    margin: 0 10%;

    h1 {
      font-size: 17pt;
    }

    .icon-header {
      font-size: 22pt;
      color: $--color-v1;
    }
  }

  .container-md {
    min-height: 76vh;
    border: 0.1mm solid rgba(255, 255, 255, 0.8);
    border-radius: 0.5%;
    width: 100%;
    padding: 0.4rem;
    padding-top: 1rem;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .main-content {
      width: 100%;
      margin-bottom: 1rem;
      padding: 0 0.5rem;
    }
  }

  .header-result {
    width: 100%;
    font-size: 11pt;
    p {
      padding: 0.3rem;
      margin: 0;
    }
  }

  .header-row.video-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .frame-video {
    background-color: $home-background-2;
    position: relative;
    padding: .9rem 0;
    cursor: pointer;
    i {
      transition: color 400ms ease-in-out;
      color: $--color-play !important;
    }

    &:hover {
      i {
        color: $--color-play-hover !important;
      }
    }

    img {
      width: 18rem;
      height: 10rem;
      max-width: 18rem;
      max-height: 10rem;
    }

    .play-icon {
      position: absolute;
      top: 30%;
      left: 43%;
      font-size: 40pt;
    }
  }

  .header-title {
    font-style: italic;
    letter-spacing: 0.09rem;
    font-weight: 600;
    color: $--color-v12;
  }

  .header-value {
    padding-left: 0.9rem !important;
  }

  .mute {
    display: none;
  }
}

@media screen and (min-width: 30em) {
  main {
    .main-content {
      width: 65%;
      padding: 0;
    }
  }
}
