.table-result {
    width: 100%;
}

td {
    color: $--color-v13!important;
}

.td-type {
    font-weight: 500;
}

.bi-volume-mute-fill {
    color: $--color-mute-icon;
    font-size: 15pt;
    margin: auto .5rem; 
}