.table-result {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.td-type {
    font-weight: 500;
}

.bi-volume-mute-fill {
    color: $--color-mute-icon;
    font-size: 15pt;
    margin: auto .5rem; 
}
//66A182
//41383b
//13293d
.td-down {
    background-color: #13293d!important;
}