$home-background: #1D1E22;
$--color-footer-back: rgba(255, 255, 255, 0.8);
$--color-v3: #b8c7ce;
$--color-v7: #c44484;
$--color-v9: #198754;
$--color-v10: #111827;
$--color-v11: rgba(222, 226, 230);
$--color-mute-icon: #FF0000;
$--color-play: #dcdcdc;
$--color-play-hover: #4f4f4f;
$--color-link: #fff;