@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
$home-background: #1D1E22;
//$home-background: rgb(2, 2, 2);
$--color-v1: rgb(255, 255, 255);
$--color-footer-back: rgba(255, 255, 255, 0.8);
$--color-v3: #b8c7ce;
$--color-v7: #c44484;
$--color-v9: #198754;
$--color-v10: #111827;
$--color-v11: rgba(222, 226, 230);
$--color-v12: #1dd1a1;
$--color-v13: rgb(181, 181, 181);
$--color-mute-icon: #ff6b6b;
$--color-play: #dcdcdc;
$--color-play-hover: #4f4f4f;
$--color-link: #fff;